blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
flask-cors
fonttools
fsspec
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
nvidia-ml-py
opencv-python
packaging
pillow
polars
polars-runtime-32
psutil
pyparsing
python-dateutil
PyYAML
requests
setuptools
six
sympy
torch
torchvision
typing_extensions
ultralytics
ultralytics-thop
urllib3
Werkzeug
inference-sdk
python-dotenv
